body{
   padding:0;
    margin: 0;
    background: linear-gradient(to bottom, #5c94fc, #87ceeb);
    font-family:'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center ;
   


}

.game-container{

    background: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px #000;
}

.ui{

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 800px;
}

#game-area{
    width: 800px;
    height: 400px;
    background: linear-gradient(to bottom, #5c94fc 80%, #228b22 100%);
    border: 2px solid #333;
    overflow: hidden;
    position: relative; 
}

#mario{
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#Wb1qfhK');
    z-index: 100;
    position: absolute;
}

#mario.big{
    width: 40px;
    height: 40px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#Wb1qfhK');
    
}
.platform{
    background-image: url('https: //imgur.com/gallery/super-mario-bros-F8Jkryq#gqVoI2b');
    width: 20px;
    height: 20px;
}

.platform.ground{
    background-image: url('https: //imgur.com/gallery/super-mario-bros-F8Jkryq#gqVoI2b');
        width: 20px;
        height: 20px;
    }

 .platform.blue {
            background-image: url('https: //imgur.com/gallery/super-mario-bros-F8Jkryq#fVscIbn');
            width: 20px;
            height: 20px;
        }

.enemy{
    width: 20px;
    height: 20px;
    background-image: url('https: //imgur.com/gallery/super-mario-bros-F8Jkryq#KPO3fR9');
    position: absolute;
}

.enemy.purple{
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#SvV4ueD');
}

.coin{
width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#SvV4ueD');
    animation: coinSpin 1s linear infinite;


}
@keyframes coinSpin{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.suprise-block{
   
    width: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#RMqCc1G');
   
    height: 20px;
    
}

.suprise-block.hit {
   
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#RMqCc1G');
    
}

.pipe{
    width: 40px;
    height: 40px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#rl3cTER');
}
.pipe-top-right {
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#rl3cTER');
}
.pipe-top {
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#rl3cTER');
}
.pipe-buttoom {
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#rl3cTER');
}
.pipe-buttom-right{
    width: 20px;
    height: 20px;
    background-image: url('https://imgur.com/gallery/super-mario-bros-F8Jkryq#rl3cTER');
}

.controls{
    margin-top: 15px;
    text-align:center;
    font-size: 14px;
}

#game-over{
    position: absolute;
    top: 50%;
    
    transform: translate(-50%, -50%);
    
    color: #fff;
    
    border: 3px solid #000;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    padding: 15px;
    text-align: center;

}

#restart-button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover{
    background-color: green;
}